@import "../base/base.scss";

body {
  font-family: 'Kumbh Sans', sans-serif;
	font-size: $font-size;
	color: $font-color;
	background-color: $primary-color;
	background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
	background-position: top -605px left -350px, bottom -740px right -220px;
  background-size: 1100px, 1100px;
	background-repeat: no-repeat;

	@include media-breakpoint-down(md) {
		background-size: 800px;
		background-position: top -500px left -550px, bottom -500px right -510px;
	}

	@include media-breakpoint-between(md, xl) {
		background-position: top -580px left -560px, bottom -780px right -505px;
	}
}

.text-muted {
	color: $text-muted !important;
}

.font-bold {
	font-weight: 700;
}

.font-medium {
	font-size: $font-size-sm;
}

.font-small {
	font-size: $font-size-xs;
}

.letter-spacing-3 {
	letter-spacing: 3px;
}

.divider {
	margin: 1.5rem 0 1.5rem;
	border-bottom: 1px solid lighten($text-muted, 45);
}