@import '../base/base.scss';

/*=============== Card ===============*/
.card {
	border-radius: 15px;

	.card-img-top {
		border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	}

	.profile-image {
		position: absolute;
		border: 4px solid $white;
		transform: translate(-50%, -65%);
	}
}