@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$primary-color: #19a2ae;
$font-color: #2d3248;
$text-muted: #6a6f81;
$light-gray: #969696;
$white: #FFF;

$font-size: 18px;
$font-size-sm: 14px;
$font-size-xs: 10px;